.input {
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0px 4px 12px;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid white;
  transition: border 0.3s ease-out;
  height: 35px;
  width: 80px;
  color: #757575;
  &-text {
    width: 200px;
  }
  &-select {
    width: 90px;
    padding-right: 10px;
  }
  &:hover {
    border: 1px solid #aeb6bf;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

//INPUT - TAGS

.react-tag-input {
  border-radius: 5px;
  width: 200px !important;
  box-shadow: rgb(149 157 165 / 20%) 0px 4px 12px;
  padding: 0 10px !important;
  font: 400 13.3333px Arial !important;
  border: 1px solid white !important;
  transition: border 0.3s ease-out;
  margin: 10px 10px 10px 0;
  height: 35px;
  width: 80px;
  color: #757575;
} /* Inner input */
.react-tag-input__tag,
.react-tag-input__tag__remove {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.85em;
  line-height: 1;
  border-radius: 5px;
  color: white;
  background: #212f3cea !important;
  &:after,
  :before {
    background-color: white !important;
  }
}
.react-tag-input__tag__remove {
  background: #212f3c !important;
}
