.section-spinner {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  background: rgba(#212f3c, 0.5);
  animation: flip 1.2s ease infinite;
}

@keyframes flip {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
