.media {
  --mediaShadow-size: var(--gridList-gap, 6px);
  margin-bottom: 0.5em;
  position: relative;
  margin-bottom: 0;
  &-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  &-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  &:hover {
    border: 1px solid #212f3c;
    box-shadow: rgb(149 157 165 / 20%) 0px 4px 12px;
  }
  &:nth-child(11n + 1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  &:nth-child(8n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
  &:nth-child(10n + 3) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

.media h4 {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
}

.media img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

i {
  font-size: 80px;
}

.media,
.media-link {
  height: 100%;
}
.media-link img {
  height: inherit;
  object-fit: cover;
}

@media screen and (max-width: 45rem) {
  .media:nth-child(11n + 1),
  .media:nth-child(8n + 1),
  .media:nth-child(10n + 3) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
