.section-search {
  width: 100%;
  margin: 10px 10px 0 0;
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  &__input {
    display: flex;
    align-items: center;
    margin-right: 25px;
    input {
      padding-right: 20px;
    }
  }
  &__icon {
    margin-left: -40px;
    border: none;
    background-color: transparent;
  }
}
