.section {
  &-upload {
    width: 100%;
    margin-top: 40px;

    &-label {
      line-height: 40px;
      width: 300px;
      margin: 30px auto;
      background-color: white;
      border: 1px solid #aeb6bf;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        border: 1px solid #212f3c;
        box-shadow: rgb(149 157 165 / 20%) 0px 4px 12px;
      }
    }
  }
  &-preview {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    &-media {
      max-width: 250px;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
      @supports (object-fit: cover) {
        .box img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + .input-file-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
  }
  &-span {
    padding-left: 15px;
  }
}
